body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 10px;
}

p {
  max-width: 600px;
  margin-bottom: 20px;
  text-align: justify;
}

#gameBoard {
  display: grid;
  gap: 1px;
  background-color: black;
  margin-bottom: 10px;
}

.tile {
  width: 28px; /* Change this line */
  height: 28px; /* Change this line */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  border: 2px solid black; /* Change this line */
}

.selected {
  border-color: white; /* Change this line */
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.start-tile {
  border-color: black; /* Change this line */
}
